<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="PA/style.css" type="text/css" media="all">



</head>

<body>

<div id="layout-error">


    <section id="main">


        <header class="page-header">

            <div class="logo displayLogoPc"><img src="PA/banni.resized.png" alt="logo"></div>
            <div class="logo displayLogoMob"><img src="PA/logo.png" alt="logo"></div>

            <h1 class="displayLogoMob titleAct">Alertes Croquettes</h1>
            <h1>Site en reconstruction !</h1>

        </header>



        <section id="content" class="page-content page-maintenance">

            <p>Bonjour notre site internet est actuellement en cours de reconstruction ! Suite au piratage du
                précédent où tout a été violemment supprimer nous travaillons actuellement sur notre nouveau site
                internet. </p>
            <p>Pour rester informé de la date d'ouverture et ainsi pouvoir bénéficier de nos nouveautés complétez ce
                petit <a href="https://docs.google.com/forms/d/1aiMEOdtMQlP7JYXMZdpmkX3I3EH6JDwx-HTyeIP1Fd4/">formulaire : ici</a>. En attendant vous pouvez participez à notre petit <a
                        href="https://docs.google.com/forms/d/1QCFRJHlGyPBlevfRyxze2KcI_D0eQKH3-qsZkiAopHs">sondage ici</a>.</p>
            <p>Bien sûr vous pouvez aussi nous rejoindre sur notre groupe <a href="https://www.facebook.com/groups/alertescroquettes"> Facebook ici</a> si cela n'est pas déjà fait!</p>
            <p>Pour toute demande d'informations complémentaires ou questions sur notre site internet ou notre
                groupe n’hésitez pas à <a href="mailto:hello@leshopdumermoz.com">nous contacter</a>. Nous serons
                ravis de vous répondre. Pour les questions d'analyse ou pour vos loulous direction notre groupe
                Facebook Merci </p>
            <p>Contact: gestion.projet.act@gmail.com</p>

        </section>






    </section>


</div>

</body>

</html>