{% extends "layout.html.twig" %}
{% block content %}
    <h1 style="display: none">Sourcink | Recrutement juridique, fiscal et RH</h1>
    <P>bONJOUR</P>
    {#{% include('Home/video.html.twig') %}#}
    {#{% include('Home/expertise.html.twig') %}#}
    {#{% include ('Home/expertise_mobile.html.twig') %}#}
    {#{% include('Home/category.html.twig') %}#}
      {#<div class="offers-div">#}
        {#{% include('Home/job.html.twig') %}#}
    {#</div>#}
    {#{% include('Home/partner.html.twig') %}#}
    {#{% include('Home/team.html.twig') %}#}
{% endblock %}