{% extends 'base.html.twig' %}

{% block title %}Edit AlimentationsType{% endblock %}

{% block body %}
    <h1>Edit AlimentationsType</h1>

    {{ include('alimentations_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('alimentations_type_index') }}">back to list</a>

    {{ include('alimentations_type/_delete_form.html.twig') }}
{% endblock %}
