{% extends 'base.html.twig' %}

{% block title %}Edit Alimentations{% endblock %}

{% block body %}
    <h1>Edit Alimentations</h1>

    {{ include('alimentations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('alimentations_index') }}">back to list</a>

    {{ include('alimentations/_delete_form.html.twig') }}
{% endblock %}
